html,
body,
header,
#intro {
    font-family: 'Lato', sans-serif !important;

    height: 100%;
    text-decoration: none;!important;
}

#intro {
    background: url("../img/architecture-asphalt-buildings-1229852.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.space
{
    margin-top: 5%;
}

.book
{
    border: 3px solid #263238;
    border-radius: 3px;
}
